<%- include('partials/header') %>

<h1 class="title font-JetBrains font-bold text-2xl m-4 absolute">todoList</h1>
<div class="absolute top-0 right-0 m-4">
<form action="/logout" method="POST">
    <button
      class="bg-transparent hover:bg-slate-900 text-slate-900 font-semibold hover:text-white py-2 px-4 border border-slate-900 hover:border-transparent rounded"
    >
      Sign out
</form>
  </button>
</div>
<main class="flex justify-center min-h-screen pb-12 font-JetBrains bg-slate-50">
  <div class="main drop-shadow-2xl">
    <div class="inputBar flex text-0 mt-14">
      <form action="/home" method="POST" class="flex">
        <input
          type="text"
          placeholder="add new todo..."
          name="task"
          class="font-sans bg-gray-300 rounded-tl-md p-1 m-0 text-2xl outline-none"
          autofocus
          required
        />
        <button
          class="submit bg-slate-900 text-white rounded-tr-md p-1 m-0 text-2xl flex items-center"
        >
          <ion-icon name="add-outline" class="text-3xl"></ion-icon>
        </button>
      </form>
    </div>

    <ul>
      <% if (todos) { %> <% for (let i = 0; i < todos.length; i++) { %>
      <div>
        <li
          id="<%= i %>"
          class="font-sans flex justify-between items-center bg-gray-100 border-b-2 p-2 text-2xl <%= todos[i].completed ? 'italic font-semibold text-green-500' : '' %> <%= i === todos.length - 1 ? 'rounded-b-lg' : '' %>"
        >
          <span class=""><%= todos[i].task %></span>
          <div class="todoButtons flex justify-between">
            <form action="/home/<%= todos[i].task %>?_method=PATCH" method="POST">
              <button
                type="submit"
                class="hover:bg-gray-300 hover:cursor-pointer rounded flex items-center h-full mr-2"
              >
                <ion-icon name="checkmark-outline"></ion-icon>
              </button>
            </form>
            <form action="/home/<%= todos[i].task %>?_method=DELETE" method="POST">
              <button
                type="submit"
                class="hover:bg-gray-300 hover:cursor-pointer rounded flex items-center h-full"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </form>
          </div>
        </li>
      </div>
      <% } %> <% } %>
    </ul>
  </div>
</main>

<%- include('partials/footer') %>
